:root {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 520px;
  }
}

.main {
  color: black;
  display: flex;
  min-width: 250px;
}

@media screen and (min-width: calc(480px)) {
  body {
    margin: 0;
  }
}